﻿@page "/DTDLBaseModel"
@implements IAsyncDisposable
@inject IJSRuntime JS

<!--@using System.Reflection
@using System.Dynamic-->

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>DTDL Base Model Create</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.2.1/joint.min.css">
</head>
<body>
  <h2>Base Model</h2>
  <table width="100%">
      <tr>
          <td width="50%">
              <!---
               <button id="showEditor" @onclick="clickConsole" hidden="true"> invokeJS dTDL_BaseModel()</button>
               <button id="Set" @onclick="AddtoTree">Set</button>-->

              <div id="myholder"></div>


	          <!---
                <button id="saveButton">save</button>
                <button id="loadButton">load</button> 图模型保存为JSon格式:
	            -->
 
              <!-- 这里是画布 -->
              <div id="myGraph"></div>

          </td>
          <td>
            <MudPaper Class="pa-4 mud-info"><h5>Setting</h5></MudPaper>
            <table width="410" border="1" style="background-color:#e6f9ff">
                <tr><td colspan="2"></td></tr>
                <tr>
                    <th width="120">@@id</th>
                    <th><input type="text" id="model_id" style="font-weight:bold;color:blue;width: 200px;"></th>
                </tr>
                <tr>
                    <th>@@type</th>
                    <th><font color="blue">Interface</font></th>
                </tr>
                <tr>
                    <th>@@context</th>
                    <th><font color="blue">dtmi:dtdl:context;2</font></th>
                </tr>
                <tr>
                    <th>displayName</th>
                    <th><input type="text" id="model_name" style="font-weight:bold;color:blue;width: 150px;" disabled></th>
                </tr>
            </table>

            <table width="410" border="1">
                <tr>
                    <th width="120">Name</th>
                    <td><input type="text" id="nodeName" style="width: 120px;"></td>
                    <td align="right"><input type="text" id="role" style="font-style:italic;font-weight:bold;color:green;width: 120px;"></td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td colspan="2">
                        <select id="dataType">
                            <option>Boolean</option>
                            <option>Date</option>
                            <option>DateTime</option>
                            <option>Double</option>
                            <option>Duration</option>
                            <option>Float</option>
                            <option>Integer</option>
                            <option>Long</option>
                            <option>String</option>
                            <option>Time</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>maxMultiplicity</th>
                    <td colspan="2">
                        <select id="maxMulti">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>minMultiplicity</th>
                    <td colspan="1">
                        <select id="minMulti">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                    <td align="right">
                        <button id="Set">Set</button>
                        <button id="ToJSON" hidden>ToJSON</button></td>
                </tr>
                <!---
                    <tr><td align="right" colspan="2">
                            <button id="ToJSON" disabled hidden>ToJSON</button>
                            <button id="Set">Set</button>
                        </td>
                    </tr>
                    --->
            </table>

               @*<textarea id="mySavedModel" style="width:400px;height:250px">
                    @DTDLmodel
               </textarea>*@
            <table width="410" border="1">
                 <tr>
                    <th colspan="1">
                        <u>JSON</u><br />
                        <textarea id="JSON" style="background-color:#eeffe6;width: 400px; height: 290px"></textarea>
                    </th>
                 </tr>
            </table>
          </td>

       </tr>
  </table>




</body>


</html>


@code {

    private IJSObjectReference? module;

    string DTDLmodel = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            DateTime datetime = DateTime.Now;
            string argu = datetime.Minute + "" + datetime.Millisecond;
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/dtdl_BaseModelA.js?" + argu);

            await module.InvokeAsync<string>("basemodelA");
        }
    }


    //private async Task clickConsole()
    //{
    //    await module.InvokeAsync<string>("basemodelA");

    //}

    //private async Task AddtoTree()
    //{
    //    await module.InvokeAsync<string>("addToTree");
    //}

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if ( module is not null)
        {
            await module.DisposeAsync();
        }
    }

    //[DigitalTwin(Version=1, DisplayName="ClsAnd")]
    //public class ClsAnd : TwinBase
    //{
    //    [TwinProperty] public int In1 { get; set; }
    //    [TwinProperty] public int In2 { get; set; }
    //    [TwinProperty] public int Out { get; set; }
    //}


    //[DigitalTwin(Version=1, DisplayName="ClsOr")]
    //public class ClsOr : TwinBase
    //{
    //    [TwinProperty] public int In1 { get; set; }
    //    [TwinProperty] public int In2 { get; set; }
    //    [TwinProperty] public int Out { get; set; }
    //}


    //[DigitalTwin(Version=1, DisplayName="ClsNot")]
    //public class ClsNot : TwinBase
    //{
    //    [TwinProperty] public int In { get; set; }
    //    [TwinProperty] public int Out { get; set; }
    //}

    //static ModelLibrary modelLibrary = new ModelLibrary();
    //static DigitalTwinSerializer Serializer = new DigitalTwinSerializer(modelLibrary);

    //static  string DTDLModel_And = Serializer.SerializeModel(typeof(ClsAnd));
    //static  string DTDLModel_Or = Serializer.SerializeModel(typeof(ClsOr));
    //static  string DTDLModel_not = Serializer.SerializeModel(typeof(ClsNot));

    //static  string initDTDLmodel = DTDLModel_And + DTDLModel_Or + DTDLModel_not;

    //public void Func_createClass()
    //{
    //    dynamic boo = new ExpandoObject();

    //    boo.Name = "ArguName";

    //}

}

