﻿@page "/dtdlmodelsample"
@implements IAsyncDisposable
@inject IJSRuntime JS
@inherits LayoutComponentBase



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Sample DTDL model</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.2.1/joint.min.css">

</head>
<body>
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" @onclick="clickConsole1">invokeJS init_sample_DTDL_model()</MudButton>
    <div id="sidebarLeft" style="width: 20%; height: 100vh; display: flex; position:absolute">
        <div id="tooglebar" style="width: 100%; height: 5vh; position: absolute; background-color: #FFFFFF;">

            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                <MudButton id="newButton">New</MudButton>
                <MudButton id="saveButton">Save</MudButton>
                <MudButton id="loadButton">Load</MudButton>
            </MudButtonGroup>

        </div>


        <div id="stencilContainer" style="width: 100%; height: 95vh; margin-top: 5vh; position:absolute;">
            <div id="stencilContainerHolder">
            </div>
        </div>
    </div>
    <div id="content" style="width: 60%; height: 100vh; margin-left:20%; position: absolute">
        <div id="myholder" style="width:100%; height: 100%;"></div>
    </div>
    <div id="sidebarRight" style="width: 20%; height: 100vh; display: flex; right:0%; position:absolute">
        <div id="component" style="width: 100%; height: 50vh; position: absolute; background-color: cadetblue;">
            <h1 style="font-size: 16px; padding-left: 8px; color: #191919; font-weight: bold;">Component</h1>
        </div>
        <textarea id="mySavedModel" style="width:100%; margin-top: 50vh; background-color: aquamarine;"></textarea>
    </div>
</body>
</html>







@code {

    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.
            InvokeAsync<IJSObjectReference>("import", "./js/sample_DTDL_model.js");
        }
    }



    //protected override async Task OnInitializedAsync()
    //{
    //    await module.InvokeAsync<string>("init_sample_DTDL_model");
    //}


    private async Task clickConsole1()
    {
       await module.InvokeAsync<string>("init_sample_DTDL_model");
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

}