﻿@page "/dtdlcodefirstsample"
@implements IAsyncDisposable
@inject IJSRuntime JS
@inherits LayoutComponentBase



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>DTDL code first JointJS Sample</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jointjs/2.2.1/joint.min.css">

</head>








<MudLayout>
    <MudMainContent>

        <body>
            <!-- this is new Graph with MudBlazor -->
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" @onclick="clickConsole1">invokeJS init_dtdlcodefirstsample()</MudButton>
            <MudLink Href="https://github.com/telstra/DigitalTwins-CodeFirst-dotnet" Underline="Underline.Always">DTDL code first Examples</MudLink>
            <MudText Typo="Typo.h4">Drag the element from the left into the canvas, double click to delete</MudText>



                <MudContainer Fixed="true">
                    <MudPaper Height="100%" Width="100%" Square="true">

                        <MudGrid>
                            <MudItem xs="9">
                                <MudPaper id="myholder" Class="d-flex align-center justify-center mud-width-full"></MudPaper>

                            </MudItem>
                            <MudItem xs="3">
                                <MudPaper Class="d-flex align-center justify-center mud-width-full">
                                    <MudTextField id="initDTDLmodel" height="400px" @ref="multilineReference" T="string" Label="DTDL" Lines="30" Variant="Variant.Outlined" Text="@initDTDLmodel" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Api" OnAdornmentClick="@(() => multilineReference.SelectAsync())" />
                                </MudPaper>
                            </MudItem>

                            <MudItem xs="12">
                                <MudButton id="saveButton" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Save</MudButton>
                                <MudButton id="loadButton" Variant="Variant.Filled" StartIcon="@Icons.Filled.UploadFile" Color="Color.Info" Size="Size.Small">Load</MudButton>
                                Saved the graph model into JSon format:
                            </MudItem>
                            <MudItem xs="12">
                                <MudPaper Class="d-flex align-center justify-center mud-width-full">
                                    <MudTextField id="mySavedModel" T="string" Label="JointJS JSON" Lines="3" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Api" />
                                </MudPaper>
                            </MudItem>
                        </MudGrid>


                    </MudPaper>
                </MudContainer>














            <!-- this is old Graph
            <button @onclick="clickConsole1"> invokeJS init_dtdlcodefirstsample() </button>

            <h5>[ref from here]<a href="https://github.com/telstra/DigitalTwins-CodeFirst-dotnet">DTDL code first Examples</a></h5>

            <h5>Drag the element from the left into the canvas, double click to delete</h5>
            <div id="myholder"></div>
            <button id="saveButton">save</button>
            <button id="loadButton">load</button> Saved the graph model into JSon format:

            <textarea id="initDTDLmodel" style="width: 100%; height: 300px">@initDTDLmodel</textarea>

            <textarea id="mySavedModel" style="width:100%;height:300px">
            </textarea>

            <div id="myGraph"></div>
             -->

        </body>


    </MudMainContent>
</MudLayout>
</html>







@code {

    private MudTextField<string> multilineReference;


    private IJSObjectReference? module;


    [DigitalTwin(Version = 1, DisplayName = "ClsAnd")]
    public class ClsAnd : TwinBase
    {
        [TwinProperty] public int In1 { get; set; }
        [TwinProperty] public int In2 { get; set; }
        [TwinProperty] public int Out { get; set; }
    }


    [DigitalTwin(Version = 1, DisplayName = "ClsOr")]
    public class ClsOr : TwinBase
    {
        [TwinProperty] public int In1 { get; set; }
        [TwinProperty] public int In2 { get; set; }
        [TwinProperty] public int Out { get; set; }
    }


    [DigitalTwin(Version = 1, DisplayName = "ClsNot")]
    public class ClsNot : TwinBase
    {
        [TwinProperty] public int In { get; set; }
        [TwinProperty] public int Out { get; set; }
    }

    static ModelLibrary modelLibrary = new ModelLibrary();
    static DigitalTwinSerializer Serializer = new DigitalTwinSerializer(modelLibrary);

    static string DTDLModel_And = Serializer.SerializeModel(typeof(ClsAnd));
    static string DTDLModel_Or = Serializer.SerializeModel(typeof(ClsOr));
    static string DTDLModel_not = Serializer.SerializeModel(typeof(ClsNot));

    static string initDTDLmodel = DTDLModel_And + DTDLModel_Or + DTDLModel_not;






    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.
            InvokeAsync<IJSObjectReference>("import", "./js/sample_DTDLcodefirst.js");
        }
    }



    private async Task clickConsole1()
    {
        await module.InvokeAsync<string>("init_dtdlcodefirstsample");

    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }



}
