﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-2">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-1">
            @Body
        </article>
    </main>
</div>


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />